<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/auth/login.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="main-container">
      <div class="container">

        <form method="post" action="/auth/reset-password" class="form">
          <div class="input-field-container">
            <input
              required=""
              class="input"
              type="password"
              name="password"
              id="password"
              placeholder="Password"
            />
            <input
              required=""
              class="input"
              type="text"
              name="confirmPassword"
              id="confirmPassword"
              placeholder="Confirm Password"
            />
            <% if (errors && errors.length>0 ) { %>
              <% errors.forEach(error => { %>
                <p class="alert">
              <%= error %>
               </p>
              <% }) %>
            <% } %>
          </div>
          
          
           <button class="login-button" type="submit" value="Confirm">
            Confirm
          </button>
          <a href="/auth/login">
              <div class="cancel-button">
                  Cancel
              </div>
          </a>
        </form>
      </div>
    </div>
  </body>
</html>
