::-webkit-scrollbar {
  display: none;
}
/* page layout */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 0px 20px;
  position: relative;
}

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  background: #f8f9fd;
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgb(244, 247, 251) 100%
  );
  border-radius: 40px;
  padding: 20px 35px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
  color: #111;
}

.navbar a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
}
.navbar .nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar .nav-right .username {
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(16, 137, 211);
}

.logout .Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

.logout .sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout .sign svg {
  width: 17px;
}

.logout .sign svg path {
  fill: white;
}

.logout .text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}

.logout .Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.logout .Btn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}

.logout .Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}

.logout .Btn:active {
  transform: translate(2px, 2px);
}

.page-content {
  flex: 1;
  padding: 20px 0px;
  display: flex;
  overflow-y: auto;
}

/* dashboard */
.product-dashboard {
  flex: 1;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.stat-card {
  background: #f8f9fd;
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgb(244, 247, 251) 100%
  );
  border-radius: 40px;
  padding: 25px 35px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
  margin: 0;
  color: #111;
}

.stat-card h2 {
  margin-top: 10px;
}

/* product table */
.product-section {
  background: #f8f9fd;
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgb(244, 247, 251) 100%
  );
  border-radius: 40px;
  padding: 25px 35px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
  margin: 0;
  color: #111;
  flex: 1;
  overflow: hidden;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-table-container {
  overflow: auto;
  max-height: 80vh;
}
.product-table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.product-table thead {
  position: sticky;
  top: 0;
  z-index: 5;
  background: #f8f9fd;
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgb(244, 247, 251) 100%
  );
  border-radius: 40px !important;
  padding: 25px 35px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
  margin: 0;
  color: #111;
}

.product-table th,
.product-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #334155;
}

.product-table img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.delete-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.delete-svgIcon {
  width: 15px;
  transition-duration: 0.3s;
}

.delete-svgIcon path {
  fill: white;
}

.delete-button:hover {
  width: 90px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.delete-button:hover .delete-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.delete-button::before {
  display: none;
  content: "Delete";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.delete-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}

.edit-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  text-decoration: none !important;
}

.edit-svgIcon {
  width: 17px;
  transition-duration: 0.3s;
}

.edit-svgIcon path {
  fill: white;
}

.edit-button:hover {
  width: 120px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.edit-button:hover .edit-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.edit-button::before {
  display: none;
  content: "Edit";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.edit-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}

.product-table .table-action {
  display: flex;
  gap: 10px;
  padding: 15px 0px;
  z-index: 0;

  justify-content: center;
  align-items: center;
}

.add-product-button-container {
  position: fixed;
  bottom: 5vh;
  right: 30px;
  z-index: 20;
}
.add-product-button-container .add-product-button {
  padding: 0.7rem;
}

.add-product-button-container .add-product-button:hover {
  transition: 0.4s ease-in-out;
  transform: scale(1.5);
}
.add-product-button-container .add-product-button svg {
  margin: 0;
}

.add-product-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  cursor: pointer;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  font-weight: bold;
  background: linear-gradient(
    45deg,
    rgb(16, 137, 211) 0%,
    rgb(18, 177, 209) 100%
  );
  color: white;
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
}

.add-product-button svg {
  margin-right: 6px;
}

.add-product-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.add-product-button:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.footer {
  color: #000;
  text-align: center;
  padding: 10px;
}
